<div align="center">
    <img class="borde" src="https://image.shutterstock.com/image-photo/software-developer-programming-code-abstract-260nw-375299896.jpg" width="300">
</div>
<p align="center">
    <br>
    <font size=10>
        Lorem ipsum <br>
        dolor sit <br>
        amet consectetur,
    </font>
    <br>
</p>
<div align="center">
    <button type="button" class="btn btn-primary m-4" (click)="accept()">Primary</button>
    <button type="button" class="btn btn-secondary " (click)="accept()">Secondary</button>
</div>

 

